@model Pizzaton.Models.Delievery

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Delievery</legend>

    <div class="display-label">Driver</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Driver)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
